* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans';
}

body {
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
    background-size: cover;
    background-repeat:no-repeat; 
    height: 100vh;
    justify-content: space-evenly;
}

.home-text {
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
}

.button {
    padding: 1.5vh;
    width: 25vh;
    font-size: 0.7em;   
}

.header-true {
    display: flex;
    background-color: antiquewhite;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
}

#header-true-icon {
    cursor: pointer;
}

.game {
    background-color: burlywood;
}

.header-false {
    display: flex;
    background-color: antiquewhite;
    height: 15vh;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
#header-icon {
    height: 65%;
}

.header-false > h1 {
    font-size: 10vh;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

li > img {
    height: 10vh;
    width: auto;
}

#header-title-one {
    color: rgb(0, 157, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

#header-title-two {
    color: red;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.content-wrapper {
    flex: 1;
}

.characters {
    background-color: white;
    flex-direction: column;
    width: 10vh;
    position: absolute;
    z-index: 10;
}

.characters-image {
    height: 100%;
    width: 100%;
}

#photo-image-search {
    display: flex;
    width: 100%;
}

.home-levels {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5vh;
}

.home-level {
    display: flex;
    flex-direction: column;
}

.home-level-images {
    flex: 1 1 auto; 
    width: 55vh;
}

.home-level-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-level-text {
    color: black;
    background-color: white;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }