* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans';
}

body {
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
    background-size: cover;
    background-repeat:no-repeat; 
    height: 100vh;
    justify-content: space-evenly;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2em;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
    background-size: cover;
    background-repeat:no-repeat; 
    height: 100vh;
}

.error-page > h2 {
    margin: 5% auto;
}

.home-text {
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
}

.buttons {
    padding-top: 3vh;
}

.leader-button {
    padding: 2vh;
    width: 45vh;
    font-size: 0.7em;   
}

.submit-button {
    padding: 1vh;
    width: 20vh;
    font-size: 0.7em;   
}

.header-true {
    display: flex;
    background-color: rgb(251, 246, 239);
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
    font-size: 3.3vh;
}

#header-true-icon {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(251, 246, 239);
}

.header-false {
    display: flex;
    height: 15vh;
    align-items: center;
    gap: 4vh;
}

#header-icon {
    height: 65%;
}

#header-icon:hover, .header-titles:hover, #header-true-icon:hover {
    transform: scale(1.1);
}

.header-titles {
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    gap: 2vh;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5vh;
}

li {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

li > span {
    background-color: white;
}

li > img {
    height: 9vh;
    width: auto;
}

#header-title-one {
    color: rgb(0, 157, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

#header-title-two {
    color: red;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.home-level:hover, .leader-level:hover {
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.photo {
    
}

.content-wrapper {
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
    background-size: cover;
    background-repeat:no-repeat; 
    flex: 1;
}

.characters {
    background-color: white;
    flex-direction: column;
    z-index: 10;
    width: 5vw;
    position: absolute;
}

.characters-image {
    height: 100%;
    width: 100%;
}

.characters-image-true {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

#photo-image-search {
    display: flex;
    width: 100%;
}

.home-levels {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5vh;
}

.home-level {
    display: flex;
    flex-direction: column;
}

.home-level-images {
    flex: 1 1 auto; 
    width: 50vh;
}

.home-level-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-level-text {
    color: black;
    background-color: white;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

.modal {  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2vh;
    align-items: center;
    background-color: #fff9e5;
    color: black;
    margin: 17% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    font-size: 4vh;
    gap: 1.5vh;
    text-align: center;
}

.modal-buttons {
    display: flex;
    gap: 2.5vh;
}

#modal-timer {
    color:red;
}

.leader {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
    background-size: cover;
    background-repeat:no-repeat; 
    height: 100vh;
    align-items: center;
}

.leader-top-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 8vh;
}

.leader-text {
    font-size: 3em;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    font-weight: bold;
    text-align: center;
    white-space: pre-line;
}

.leader-levels {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10vh;
    font-size: 1.5em;
}

.leader-level {
    display: flex;
    flex-direction: column;
}

.leader-level-images {
    flex: 1 1 auto; 
    width: 100%;
}

.leader-level-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leader-level-text {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.leader-data {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: rgb(0, 0, 0) solid 0.4vh;
    border-radius: 1vh;
}

.leader-data-record {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: rgb(251, 246, 239);
    border: solid 0.1vh black;
}

.leader-data-record > span {
    font-size: 1.5em;
    padding: 1vh;
}

input {
    padding: 1.7vh;
}

.input-true {
    border-radius: 0.6vh;
    border-color: rgb(118, 118, 118);
}

.input-false {
    border-radius: 0.6vh;
    border-color: red;
}

.column-one {
    grid-column: 1;
}

.column-two {
    grid-column: 2;
}

.column-three {
    grid-column: 3;
}

@media only screen and (min-device-width:280px) and (max-device-width: 950px) {

    .home > div {
        font-size: 1.4vh;
        padding: 1.5vh;
    }
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
        background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
        background-size: cover;
        background-repeat:no-repeat; 
        height: 100vh;
        justify-content: flex-start;
    }

    .header {
        display: flex;
        justify-content: center;
        background-color: rgb(251, 246, 239);
    }
    
    .header-false {
        display: flex;
        height: 12vh;
        align-items: center;
        gap: 2vh;
    }
    
    #header-icon {
        height: 35%;
    }
    
    .header-titles {
        display: flex;
        flex-direction: row;
        font-size: 2.2vh;
        gap: 1vh;
        text-align: center;
    }
    
    .home-levels {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4vh;
    }

    .home-level {
        display: flex;
        flex-direction: column;
    }

    .home-level-images {
        flex: 1 1 auto; 
        width: 25vh;
    }

    .buttons {
        padding-top: 3vh;
    }
    
    .leader-button {
        padding: 1.5vh;
        width: 30vh;
        font-size: 0.7em;   
    }

    .home-text {
        font-weight: bold;
        text-align: center;
        white-space: pre-line;
        font-size: 2.3vh;
    }

    .leader-levels {
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 1vh;
        font-size: 1em;
    }

    .leader-top-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 4vh;
    }
    
    .leader-text {
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        white-space: pre-line;
    }

    .leader {
        display: flex;
        flex-direction: column;
        background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
        background-size: cover;
        background-repeat:no-repeat; 
        height: 100vh;
        align-items: center;
        gap: 1vh;
    }

    .header-true {
        display: flex;
        background-color: rgb(251, 246, 239);
        height: 15vh;
        justify-content: space-evenly;
        align-items: center;
        gap: 1vh;
        font-size: 2vh;
        padding-left: 1vh;
        padding-right: 1vh;
    }

    #header-title-one {
        color: rgb(0, 157, 255);
        -webkit-text-stroke: 1px rgb(0, 0, 0);
    }
    
    #header-title-two {
        color: red;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
    }

    li > img {
        height: 5vh;
        width: auto;
    }

    .header-false {
        display: flex;
        height: 15vh;
        align-items: center;
        gap: 1vh;
    }

    .characters {
        background-color: white;
        flex-direction: column;
        width: 6vh;
        position: absolute;
        z-index: 10;
    }
    
    .characters-image {
        height: 100%;
        width: 100%;
    }
    
    .characters-image-true {
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
    
    #photo-image-search {
        display: flex;
        width: 100%;
    }

    .modal {  
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1vh;
        align-items: center;
        background-color: #fff9e5;
        color: black;
        margin: 35% auto; /* 15% from the top and centered */
        padding: 1.5em;
        width: 60%; /* Could be more or less, depending on screen size */
        font-size: 2vh;
        gap: 1.5vh;
        text-align: center;
    }

    .modal-buttons {
        display: flex;
        gap: 1vh;
    }

    .submit-button {
        padding: 1vh;
        width: 13vh;
        font-size: 0.7em;   
    }

    input {
        padding: 1vh;
    }
    
    .error-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.2)), url('./assets/example.jpg');
        background-size: cover;
        background-repeat:no-repeat; 
        height: 100vh;
    }

    .error-page > h2 {
        margin: 5% auto;
    }

    #header-icon:hover, .header-titles:hover, #header-true-icon:hover {
        transform: scale(1.05);
    }

}